.buttonFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.buttonFile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    cursor: pointer;
}

.buttonFile:focus + label,
.buttonFile + label:hover {
    background: rgb(53, 167, 110);
}